.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: left;
  align-items: center;
}
.swiper-slide-active, .swiper-slide-next{
  background: transparent !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  /* margin: 20px auto;
  padding: 0px 30px; */
}
.swiper-pagination{
  display:  none;
}
