@media only screen and (min-width: 640px){
    .navItem-dashboard .custom.activated::before{
        content: "";
        position: absolute;
        right: 0px;
        top: -50.4px;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border-radius: 50%;
        pointer-events: none;
        box-shadow:32px 32px 0 10px white ;
    }
    .navItem-dashboard .custom.activated::after{
        content: "";
        position: absolute;
        right: 0px;
        bottom: -50px;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border-radius: 50%;
        pointer-events: none;
        box-shadow:32px -32px 0 10px white ;
    }
}
.navItem-dashboard .initial-style:hover .nav-icon{
    /* color: rgb(120, 98, 247); */
}